@use 'packages/modules/rs-ui/src/lib/styles/theme/rs-ui-tokens' with (
  $drawer-content-bg-color: #f8fafc,

  $brand-accent-darker: #ff5f22,
  $brand-accent-dark: #ff8330,
  $brand-accent: #ffae44,
  $brand-accent-light: #ffb327,
  $brand-accent-lighter: #ffc236
);

@use 'packages/modules/rs-ui/src/lib/styles/rs-ui-theme';
