@use '@vcl/vcl/theme' with (
  $brand-accent-darker: #ff5f22,
  $brand-accent-dark: #ff8330,
  $brand-accent: #ffae44,
  $brand-accent-light: #ffb327,
  $brand-accent-lighter: #ffc236
);

@use '@vcl/vcl';
